.reset-css {
  margin: 0;
  padding: 0;
  display: block;
}

.mg-top-30pct {
  margin-top: 3em;
}

.all-wrapper {
  background-color: #000000;
}

.content-wrapper {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #232323;
}

.height-100 {
  height: 100vh !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}